
<!------------------------------------------------------------->
<!--                         BUTTONS                         -->
<!------------------------------------------------------------->

<!-- BUTTON -->

<button
    class="w-full md:w-auto py-3 px-10 rounded-full bg-accent font-secondary font-medium text-sm md:text-base text-white"
    type="submit">
    Search
</button>

<!-- BUTTON WITH ICON -->

<!-- Primary -->
<button class="flex items-center justify-center gap-2 py-3 px-6 bg-accent rounded-full ">
    <img src="../public/icons/button/add-circle.svg" alt="Add Icon">
    <p class="font-secondary text-white">Sprout</p>
</button>

<!-- Outline -->
<button class="flex items-center justify-center gap-2 py-3 px-6 shadow-inner-stroke shadow-[#F0F0F0] rounded-full ">
    <img class="size-5" src="../public/icons/button/trash.svg" alt="Add Icon">
    <p class="font-secondary text-danger">Compost</p>
</button>


<!-- LIKE ACTIVE BUTTON -->

<button class="flex items-center gap-3 bg-accent-hover px-2 py-1 rounded-full">
    <img src="../public/icons/button/like-active.svg" alt="Like Active Icon">
    <span class="font-secondary text-accent text-xs">25 Likes</span>
</button>

<!-- LIKE BUTTON -->

<button class="flex items-center gap-3 outline outline-[#ECECEC] px-2 py-1 rounded-full">
    <img src="../public/icons/button/like.svg" alt="Like Icon">
    <span class="font-secondary text-primary-sub text-xs">24 Likes</span>
</button>


<!-- USER WITH LIKE BUTTON -->
<div class="flex justify-between">
    <div class="size-8 rounded-full">
        <img class="h-full object-cover rounded-full" src="../public/images/avatar_2.png" alt="User">
    </div>
    <button class="flex items-center gap-3 bg-accent-hover px-2 py-1 rounded-full">
        <img src="../public/icons/button/like-active.svg" alt="Like Active Icon">
        <span class="font-secondary text-accent text-xs">25 Likes</span>
    </button>
</div>



<!-- ICON BUTTON -->


<!-- CHIP -->

<!-- TAG -->