<header>
    <nav class="flex items-center justify-between px-4 md:px-12 h-navbar w-full sticky top-0 bg-white rounded-b-2xl ">
        <img src="./public/icons/logo.svg" alt="GROOVE">
        <h1 class="hidden md:block uppercase font-primary text-primary text-lg">Pollinators</h1>
        <div class="flex gap-2">
            <button class="flex items-center justify-center size-10 relative rounded-lg bg-background">
                <img src="./public/icons/notification-bing.svg" alt="Notification" />
                <div
                    class="flex items-center justify-center absolute -right-[2px] -top-[2px] z-10 size-4 bg-accent text-white rounded-full">
                    <span class="text-xs font-poppins">2</span>
                </div>
            </button>
            <button class="flex items-center justify-center md:hidden size-10 bg-background rounded-lg">
                <img src="./public/icons/menu.svg" alt="Menu">
            </button>
        </div>
    </nav>
</header>

