<aside class="bg-white h-full w-[246px] hidden md:flex flex-col justify-between rounded-2xl p-4 flex-shrink-0">
    <div>
        <p class="uppercase font-secondary text-xs text-[#BABABA] font-medium mb-4">MENU</p>
        <ul class="flex flex-col gap-3">
            <li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
                <a class="flex gap-2 px-2 py-3 cursor-pointer">
                    <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
                        src="./public/icons/book-hover.svg" alt="Book Hover" />
                    <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
                        src="./public/icons/book.svg" alt="Book" />

                    <p class="font-secondary capitalize">Collector</p>
                </a>
            </li>
            <li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
                <a class="flex gap-2 px-2 py-3 cursor-pointer">
                    <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
                        src="./public/icons/book-open-hover.svg" alt="Book open Hover" />
                    <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
                        src="./public/icons/book-open.svg" alt="Book open" />

                    <p class="font-secondary capitalize">Seeds</p>
                </a>
            </li>
            <li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
                <a class="flex gap-2 px-2 py-3 cursor-pointer">
                    <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
                        src="./public/icons/bookmark-hover.svg" alt="Bookmark Hover" />
                    <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
                        src="./public/icons/bookmark.svg" alt="Bookmark" />

                    <p class="font-secondary capitalize">Sprouts</p>
                </a>
            </li>
            <li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
                <a class="flex gap-2 px-2 py-3 cursor-pointer">
                    <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
                        src="./public/icons/message-text-hover.svg" alt="Message text Hover" />
                    <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
                        src="./public/icons/message-text.svg" alt="Message text" />

                    <p class="font-secondary capitalize">Blooms</p>
                </a>
            </li>
            <li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
                <a class="flex gap-2 px-2 py-3 cursor-pointer">
                    <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
                        src="./public/icons/people-hover.svg" alt="People Hover" />
                    <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
                        src="./public/icons/people.svg" alt="People" />

                    <p class="font-secondary capitalize">Pollinators</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="flex justify-between p-3 bg-[#EDF4F1] rounded-xl">
        <div class="flex items-center gap-2">
            <div class="size-10">
                <img src="/public/images/avatar.png" alt="Avatar">
            </div>
            <p class="capitalize text-sm font-medium">Carter Dorwart</p>
        </div>
        <button>
            <img src="/public/icons/more.svg" alt="More">
        </button>
    </div>
</aside>


<!-- ACTIVE -->

<!-- Collector -->
<li class="rounded-lg transition-all text-accent bg-accent-hover" aria-current="page">
    <a class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="" src="../public/icons/navigation/book-active.svg" alt="Book active Icon" />
        <p class="font-secondary capitalize">Collector</p>
    </a>
</li>

<!-- Seeds -->
<li class="rounded-lg transition-all text-accent bg-accent-hover" aria-current="page">
    <a class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="" src="../public/icons/navigation/book-open-active.svg" alt="Opened Book active Icon" />
        <p class="font-secondary capitalize">Seeds</p>
    </a>
</li>

<!-- Sprouts -->
<li class="rounded-lg transition-all text-accent bg-accent-hover" aria-current="page">
    <a class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="" src="../public/icons/navigation/bookmark-active.svg" alt="Bookmark active Icon" />
        <p class="font-secondary capitalize">Sprouts</p>
    </a>
</li>

<!-- Blooms -->
<li class="rounded-lg transition-all text-accent bg-accent-hover" aria-current="page">
    <a class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="" src="../public/icons/navigation/message-text-active.svg" alt="Message text active Icon" />
        <p class="font-secondary capitalize">Blooms</p>
    </a>
</li>


<!-- Pollinators -->
<li class="rounded-lg transition-all text-accent bg-accent-hover" aria-current="page">
    <a class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="" src="../public/icons/navigation/people-active.svg" alt="People active Icon" />
        <p class="font-secondary capitalize">Pollinators</p>
    </a>
</li>


<!-- HOVER -->

<!-- Collector -->
<li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
    <a href="" class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
            src="../public/icons/navigation/book-active.svg" alt="Book Active" />
        <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
            src="../public/icons/navigation/book.svg" alt="Book" />

        <p class="font-secondary capitalize">Collector</p>
    </a>
</li>

<!-- Seeds -->
<li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
    <a href="./pages/seeds.html" class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
            src="../public/icons/navigation/book-open-active.svg" alt="Opend Book Active" />
        <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
            src="../public/icons/navigation/book-open.svg" alt="Opend Book" />

        <p class="font-secondary capitalize">Seeds</p>
    </a>
</li>

<!-- Sprouts -->
<li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
    <a href="./pages/sprouts.html" class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
            src="../public/icons/navigation/bookmark-active.svg" alt="Bookmark Active" />
        <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
            src="../public/icons/navigation/bookmark.svg" alt="Bookmark" />

        <p class="font-secondary capitalize">Sprouts</p>
    </a>
</li>

<!-- Blooms -->
<li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
    <a href="./pages/blooms.html" class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
            src="../public/icons/navigation/message-text-active.svg" alt="Message text Active" />
        <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
            src="../public/icons/navigation/message-text.svg" alt="Message text" />

        <p class="font-secondary capitalize">Blooms</p>
    </a>
</li>

<!-- Pollinators -->
<li class="rounded-lg hover:bg-accent-hover transition-all text-secondary hover:text-accent group">
    <a href="./pages/blooms.html" class="flex gap-2 px-2 py-3 cursor-pointer">
        <img class="hidden group-hover:block transition-opacity duration-300 opacity-0 group-hover:opacity-100"
            src="../public/icons/navigation/people-active.svg" alt="People Active" />
        <img class="group-hover:hidden transition-opacity duration-300 opacity-100 group-hover:opacity-0"
            src="../public/icons/navigation/people.svg" alt="People" />

        <p class="font-secondary capitalize">Pollinators</p>
    </a>
</li>