<section class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full">
    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_1.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">James Schleifer</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_2.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Nolan Bator</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_3.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Phillip Herwitz</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_4.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Jaylon Bergson</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_5.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Ruben Stanton</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_6.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Wilson Torff</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_7.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Ahmad Bator</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_8.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Leo Donin</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_9.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Nolan Siphron</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_10.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Zaire Herwitz</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_11.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Jaylon Rhiel Madsen</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-4 p-3 h-fit bg-white rounded-2xl">
        <img class="size-14" src="./public/images/user_12.png" alt="Avatar">
        <div class="flex-1 flex justify-between">
            <div>
                <h2 class="font-secondary font-medium text-sm text-primary mb-4">Carter Ekstrom Bothman</h2>
                <ul class="flex gap-2 font-secondary text-accent text-xs">
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Architecture</span>
                    </li>
                    <li class="flex-shrink-0 flex items-center gap-2 px-2 py-[3px] bg-accent-hover rounded-full">
                        <span>Sustainability</span>
                    </li>
                </ul>
                <p class="font-secondary text-xs mt-3">
                    <span class="text-secondary">Last active</span>
                    2 days ago
                </p>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <img src="./public/icons/eye.svg" alt="Eye">
                    <span class="font-secondary text-primary-sub text-xs">42</span>
                </div>
            </div>
        </div>
    </article>
</section>