<!-- THIS IS THE UPLOADING FORM -->

<section>
    <form action="">
        <div class="flex gap-[10px] px-3 py-4 rounded-xl shadow-inner-stroke">
            <img src="./public/icons/link-2.svg" alt="Link Icon">
            <input class="w-full border-none placeholder-secondary outline-none font-secondary text-sm md:text-base"
                type="text" name="" placeholder="Past URL here" aria-label="Past URL here" required />
        </div>
        <div class="h-2"></div>
        <div>
            <div class="py-9 md:py-11 rounded-xl shadow-inner-stroke ">
                <img class="h-[112px] md:h-[142px] mx-auto" src="./public/images/files.png" alt="Files">
                <p class="font-secondary text-sm text-secondary text-center mt-4 md:mt-2">
                    Drop files here or
                    <span class="text-accent">browse</span>
                </p>
            </div>
        </div>
        <div class="h-4"></div>
        <button
            class="w-full md:w-auto py-3 px-10 rounded-full bg-accent font-secondary font-medium text-sm md:text-base text-white"
            type="submit">
            Submit
        </button>
    </form>
</section>